{% extends 'core/base.html' %}

{% block contenido %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://img.freepik.com/foto-gratis/cerca-manos-personas-que-trabajan-computadoras_53876-146042.jpg?w=996&t=st=1705700048~exp=1705700648~hmac=eef6f8c36e44514d7362d4c29700bd45502e3ebd8ad19027e04e7cb122d99e12'); 
            background-size: cover;
            background-position: center;
        }

        .overlay {
            background-color: rgba(255, 255, 255, 0.8); 
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(9, 9, 9, 0.1);
        }

        h1 {
            text-align: center;
            color: #50514fa1;
        }

        .button-group {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .btn {
            margin: 0 10px;
            padding: 10px 20px;
            text-decoration: none;
            color: #fff;
            background-color: #d0d8df;
            border: 1px solid #000306;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #cdd1d6;
        }

        .btn-admin {
        margin-top: 20px;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        background-color: #007bff; /* You can adjust the color as needed */
        border: 1px solid #0056b3; /* You can adjust the border color as needed */
        border-radius: 5px;
        transition: background-color 0.3s ease;
        display: inline-block;
        }
    </style>

    <div class="overlay">
        <div class="container">
            
            <h1>Sistema de Autogestión</h1>

            <div class="button-group">
                <button class="btn"><a href="{% url 'profesor_list' %}">Ver Profesores</a></button>
                <button class="btn"><a href="{% url 'profesor_create' %}">Crear Profesor</a></button>
                <button class="btn"><a href="{% url 'estudiante_list' %}">Ver Estudiantes</a></button>
                <button class="btn"><a href="{% url 'estudiante_create' %}">Crear Estudiante</a></button>
                <button class="btn"><a href="{% url 'curso_list' %}">Ver Cursos</a></button>
                <button class="btn"><a href="{% url 'curso_create' %}">Crear Curso</a></button>
            </div>
        </div>
    </div>
{% endblock contenido %}
