{% extends 'core/base.html' %}

{% block contenido %}
<style>
    .overlay {
        background: rgba(0, 0, 0, 0.5); /* Agregar un fondo oscuro semi-transparente */
        padding: 20px;
        border-radius: 10px; /* Agregar bordes redondeados */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agregar sombras */
        margin: 20px auto;
        width: 80%;
        max-width: 400px;
        text-align: center;
    }

    .container {
        color: #fff; /* Cambiar el color del texto a blanco */
    }

    .form {
        margin-top: 20px;
    }

    .btn {
        background-color: #3498db; /* Cambiar el color de fondo del botón */
        color: #fff; /* Cambiar el color del texto del botón */
        padding: 7px 10px;
        border: none;
        border-radius: 5px; /* Agregar bordes redondeados al botón */
        cursor: auto;
        font-size: 14px;
    }

    .btn:hover {
        background-color: #2980b9; /* Cambiar el color de fondo del botón al pasar el mouse */
    }

    .button-group {
        margin-top: 20px;
    }
</style>
<div class="overlay">
    <div class="container">
        {% if user.is_authenticated %}
            <h1>Bienvenido, {{ user.username }}!</h1>
            <p>Has iniciado sesión exitosamente.</p>
            <a href="{% url 'logout' %}" class="btn">Cerrar Sesión</a>
        {% else %}
            <h1>Inicio de Sesión</h1>

          <form id="login-form" method="post" class="form">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <p class="error-message">{{ form.non_field_errors.as_text }}</p>
    {% endif %}
    <table class="table">
        <tr>
            <td><label for="{{ form.username.id_for_label }}">Usuario</label></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.password.id_for_label }}">Contraseña</label></td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <div class="space"></div> <!-- Espacio adicional entre la tabla y el botón -->

    <button type="submit" class="btn">Iniciar Sesión</button>
</form>
            
            <div class="button-group">
                <a href="{% url 'register' %}" class="btn">Registrarse</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock contenido %}
